############################################
# Java / Maven
############################################
HELP.md
target/
*.log
*.class
*.jar
*.war
*.ear

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Exceções para targets dentro de src
!**/src/main/**/target/
!**/src/test/**/target/

############################################
# STS (Spring Tool Suite)
############################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

############################################
# IntelliJ IDEA
############################################
.idea/
*.iws
*.iml
*.ipr
out/

############################################
# NetBeans
############################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

############################################
# VS Code
############################################
.vscode/

############################################
# OS-specific files
############################################
.DS_Store
Thumbs.db
